.container {
  min-height: 100vh;
  background: #747480;
}

#title, #link {

  &::placeholder {
    color: red; /* Replace with your desired color */
    font-weight: bold; /* Replace with your desired font weight */
  }

}



